body,
ul,
li,
div,
h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

body {
    font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑",STXihei, "华文细黑", sans-serif;
    font-size: 12px;
    line-height: 1.6em;

    color: #95a4aa;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

    color: #95a4aa;

    cursor: pointer;
}

#header,
#main,
#footer {
    min-width: 1280px;
}

#header {
    height: 60px;

    background-color: #272828;
}

#logo {
    float: left;

    width: 405px;
    height: 100%;

    background-color: #a4d35a;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: 240px center;
}

#header ul {
    margin-left: 405px;
    padding-left: 320px;

    color: #fff;
}

#header li {
    display: inline-block;

    padding-right: 60px;
    height: 60px;

    font-size: 18px;
    line-height: 60px;
}

#gallery {
    overflow: hidden;

    position: relative;

    width: 100%;
    height: 600px;
}

.list {
    overflow: hidden;

    position: absolute;

    width: 600%;
    height: 100%;
}

.item {
    display: block;
    float: left;

    width: 16.666%;
    height: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn-wrapper {
    position: absolute;
    bottom: 50px;

    width: 100%;
}

.btn {
    margin: 0 auto;
    width: 1190px;
}

.btn span {
    display: block;
    float: left;

    margin-right: 15px;
    border: 2px solid #cad5cb;
    border-radius: 50%;
    width: 8px;
    height: 8px;

    background-color: #cad5cb;

    cursor: pointer;
}

.btn span:first-of-type {
    margin-left: 70px;
}

.btn .on {
    background-color: transparent;
}

.articles {
    height: 600px;

    background-color: #16181b;
}

.articles .wrapper {
    position: relative;
}

.rail {
    margin-left: 70px;
    border-bottom: 3px solid #282b30;
    padding-top: 80px;
    width: 85px;
}

#area {
    overflow: hidden;

    position: relative;

    margin: 80px 70px 0 70px;
    height: 245px;
}

.arti-list {
    position: absolute;

    height: 700%;
}

.article {
    height: 14.285%;
}

.col {
    float: left;
    overflow: hidden;

    margin-right: 30px;
    width: 340px;
}

.col h2 {
    font-size: 23px;

    color: #fff;
}

.col h2 + h2 {
    margin-top: 5px;
}

.col p {
    overflow: hidden;

    margin-top: 30px;
    max-height: 128px;

    font-size: 14px;
    line-height: 1.6em;
}

.hollow {
    margin-top: 20px;
    border: 3px solid #4b5058;
    border-radius: 50%;
    width: 12px;
    height: 12px;

    background-color: transparent;
}

#area .btn {
    position: absolute;
    top: 0;
    right: 0;

    width: 15px;
}

#area .btn span {
    float: none;

    margin: 0 0 15px 0;
}

.product {
    position: relative;

    height: 1130px;

    background-image: url("../images/shanghai.jpg");
    background-position: center center;
    background-size: cover;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .6);
}

#shoes {
    overflow: hidden;

    position: relative;
}

.pro-image {
    overflow: hidden;

    position: absolute;
    top: 215px;
    left: 130px;

    width: 930px;
    height: 571px;
}

.pro-list {
    position: absolute;

    width: 600%;
    height: 100%;
}

.shoe {
    display: block;
    float: left;

    width: 16.666%;
    height: 100%;
}

.shoe img {
    width: 100%;
    height: 100%;
}

.left,
.right {
    position: absolute;

    width: 130px;
    height: 910px;

    background-repeat: no-repeat;
    background-position: center center;

    cursor: pointer;
}

.left {
    top: 0;
    left: 0;

    background-image: url("../images/pre.png");
}

.right {
    top: 0;
    right: 0;

    background-image: url("../images/next.png");
}

.level {
    overflow: hidden;

    position: absolute;
    bottom: 200px;
    left: 0;

    width: 100%;
}

.level > div {
    float: left;

    margin-right: 2%;
    border-top: 3px solid #fff;
    padding-top: 10px;
    width: 23.5%;

    font-size: 23px;

    color: white;

    cursor: pointer;
}

.level > div:last-of-type {
    margin-right: 0;
}

.level > .on {
    border-top-color: #a4d35a;

    color: #a4d35a;
}

.download {
    height: 595px;

    background-color: #a6d45b;
}

.info {
    height: 620px;
}

.ending {
    height: 42px;

    background-color: #242627;
}

.wrapper {
    margin: 0 auto;
    width: 1190px;
    height: 100%;

    box-shadow: -10px 0 20px rgba(0, 0, 0, .1),
    10px 0 20px rgba(0, 0, 0, .1);
}

.download .wrapper {
    background-image: url("../images/iPad.png");
    background-repeat: no-repeat;
    background-position: right 20px top 105px;
}

.join {
    padding: 130px 0 0 70px;
    width: 485px;

    color: #fff;
}

.join h2 {
    font-size: 23px;
    font-weight: normal;
    line-height: 1.3em;
}

.join p,
.join a {
    margin-top: 35px;
}

.join p {
    font-size: 14px;
    font-weight: 200;
}

.join a {
    display: block;

    border-radius: 5px;
    width: 165px;
    height: 50px;

    font-size: 23px;
    line-height: 50px;
    text-align: center;

    color: #a6d45b;
    background-color: #fff;
}

.section {
    padding-top: 60px;
    height: 322px;
}

.info-section {
    float: left;

    padding-left: 70px;
}

.info-section h3 {
    margin-bottom: 30px;

    font-size: 14px;

    color: #737c84;
}

.info-section a {
    display: block;

    margin-bottom: 20px;

    font-size: 14px;
}

.copy {
    padding-top: 80px;
    width: 100%;

    text-align: center;
}

.circle {
    display: block;

    margin: 0 auto;
    width: 60px;
    height: 60px;
}

.copy p {
    margin-top: 30px;

    color: #c5c9cc;
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;

    content: "";
}
